{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  {#
    This block outputs its contents in the HTML document's <head>.
    It is a good place to put extra <script> <link> and <meta> tags.
  #}
   <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap&text=TASTINE" rel="stylesheet"> 
{% endblock %}

{% block beforeMain %}
<div class="bg-white text-grey-700 min-h-screen flex flex-col justify-between">
  <header class="bg-brand px-8 py-2 flex justify-between">
    <h1 class="font-logo text-white text-2xl capitalize">TASTINE</h1>
    <a class="bg-white hover:bg-dc2 transition transition-colors duration-500 px-2 border border-white rounded flex items-center">Log in</a>
  </header>
  <main class="px-8 py-2 flex-grow">
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  </main>
  <footer class="bg-grey-700 text-white px-8 py-2">
  Footer
  </footer>
</div>{# Close .bp-wrapper #}
{% endblock %}
